<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}TechnoVigilance{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Ajoutez d'autres bibliothèques CSS ici, comme Bootstrap si nécessaire -->
  </head>
  <body>
    <header>
      <h1><a href="{% url 'home' %}">TechnoVigilance</a></h1>
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'search' %}">Search</a></li>
          <li><a href="{% url 'report' %}">Report</a></li>
          {% if user.is_authenticated %}
          <li>
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit">Logout</button>
            </form>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}
      <!-- Le contenu spécifique de chaque page viendra ici -->
      {% endblock %}
    </main>

    <footer>
      <p>© 2024 TechnoVigilance. All rights reserved.</p>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
    <!-- Vous pouvez inclure d'autres scripts JS ici -->
  </body>
</html>
