<!-- templates/registration/signup.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Assurez-vous d'avoir ce fichier CSS -->
  </head>
  <body>
    <h2>Sign Up</h2>
    <form method="post" action="{% url 'signup' %}">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Sign up</button>
    </form>
    {% if form.errors %}
    <p>Please correct the error below.</p>
    {% endif %}
    <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
  </body>
</html>
